/**{

    background: url("../img/carone.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}*/

#carimage{
    height: 100vh;
    width: 100vw;
    background: url("../img/carone.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#UserDashBoardHeadNav{
    z-index: 1;
    position: absolute;
    top: 5px;
    right: 65px;
}

#UserDashBoardHeadNav>ul>li{
    display: inline-block;
    padding-left: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 45px;

}
#UserDashBoardHeadNav>ul>li:nth-child(1)>a:hover{
    text-decoration: none;
}
#UserDashBoardHeadNav>ul>li:nth-child(1)>a{
    color: black;
    font-weight: 800;
}
#UserDashBoardHeadNav>ul>li>a{
    color: #6c757d;
    text-decoration: none;
}

#userh1{
    position: absolute;
    color: white;
    top: 200px;
    left: 100px;
    font-size: 50px;


}
#userp{
    position: absolute;
    color:#b6effb;
    top: 350px;
    left: 100px;
    font-size: 20px;

}
/*///////////////////////////////usercreateAcc///////////////////////////////*/


#UserAccount>div:nth-child(1),#UserAccount>div:nth-child(2){
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 70px;
}
#UserAccount>div>h1,#UserAccount>div>form>div>h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2.1rem;
    line-height: 60px;
}
#UserAccount>div>form{
    width: 50%;
}
#UserAccount>div>form>div{
    display: flex;
    gap: 2%;
    flex-direction: row;
    margin: 2%;
}
#UserAccount>div>form>div>img{
    height: 3rem;
}
#UserAccount>div>form>div>div>p{
    margin-bottom: 0;
}
#UserAccount>div>form>div>div>input{
    font-size: 9px;
}
#btnSignUp{
    width: 100%;
    background-color: #20c997;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;

}

#bar{
    border:1px solid black;
}
#or{
    display: flex;
    justify-content: center;
}
/*/////////////////////////////user loging////////////////////////*/
#UserLoginAccount>div:nth-child(1){
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 100px;
}
#UserLoginAccount>div>h1,#UserLoginAccount>div>form>div>h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2.1rem;
    line-height: 60px;
}
#UserLoginAccount>div>form{
    width: 35%;
}

#UserLoginAccount>div>form>input:nth-child(1){
    margin-top: 30px;
    margin-bottom: 20px;
}
#UserLoginAccount>div>form>input:nth-child(2){
    margin-bottom: 20px;
}
#UserLoginAccount>div>form>p{
    margin: 0;
}
#btnSignnUp{

    background-color: #3d98ef;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    width: 100%;
}

#bar{
    border:1px solid black;
}
#orr{
    display: flex;
    justify-content: center;

}
/*////////////////////////////store/////////////////////////////*/
#UserStore>div:nth-child(2){
    position: relative;
    top: 150px;

}

#UserStore>div:nth-child(2)>h1{
    position: absolute;
    top: -50px;
    left: 700px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;

}
#UserStore>div:nth-child(2)>h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
}


#UserStore>div:nth-child(2)>form{
    margin-top: 10px;
    margin-bottom: 20px;
}
#UserStore>div:nth-child(2)>form>div:nth-child(1){
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
#UserStore>div:nth-child(2)>form>div:nth-child(1)>div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}
#UserStore>div:nth-child(2)>form>div:nth-child(1)>div>h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1rem;

}
#UserStore>div:nth-child(2)>form>div:nth-child(2)>div>h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1rem;

}

#UserStore>div:nth-child(2)>form>div:nth-child(2){
    display: flex;
    gap: 10px;

}
#UserStore>div:nth-child(2)>form>div:nth-child(2)>div{
    width: 289.837px;

}
#UserStore>div:nth-child(2)>div:nth-child(5){
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: space-around;
}


.card>hr{
    margin: 0;
}
.card-body{
    padding: 10px;
}
.card-body>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
.card-body>h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 0;
}
.card-body>p{
    margin-bottom: 0;
}
.card-body>.btnViewDetail{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: blue;
    font-size: 10px;
}
.card-body>div>div>h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    margin: 0;
}
.card-body>div>div>p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
}
.card-body>button{
    width: 100%;
}
/*///////////////////////car view/////////////////////////*/

#userCarCatalogue>div:nth-child(3){
    position: relative;
    top: 70px;

}
#userCarCatalogue>div:nth-child(3)>h1,#userCarCatalogue>div:nth-child(4)>h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;

    margin: 0;
}
#userCarCatalogue>div:nth-child(4)>p{
    padding-top: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
}

#userCarCatalogue>div:nth-child(4){
    left: 740px;
    top: 140px;
    position: absolute;
    width: 50%;

}
#userCarCatalogue>div:nth-child(4)>div:nth-child(3),#userCarCatalogue>div:nth-child(4)>div:nth-child(4){
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    margin-top:30px ;
}

#userCarCatalogue>div:nth-child(4)>div:nth-child(3)>div>h1,#userCarCatalogue>div:nth-child(4)>div:nth-child(4)>div>h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
}
#userCarCatalogue>div:nth-child(4)>div:nth-child(3)>div>p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    color: #747474;
    margin: 0;
}
#userCarCatalogue>div:nth-child(4)>div:nth-child(4)>div>p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: red;
    margin: 0;
}
#userCarCatalogue>div:nth-child(4)>button{
    width: 289px;
    margin-top: 30px;
}

#userCarCatalogue>div>img{


    height: 190px;
    width: 194px;
}
#userCarCatalogue>div:nth-child(2){
    position: absolute;
    display: flex;
    width: 396px;
    top: 236px;
    left: 151px;
    gap: 8px;
    flex-wrap: wrap;
}
